###########################################################
# kafka Config                                            #
###########################################################
bootstrap.servers=192.168.161.216:9092
value.serializer=org.apache.kafka.common.serialization.ByteArraySerializer
key.serializer=org.apache.kafka.common.serialization.ByteArraySerializer
acks=0

